[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[credential]
	helper = cache --timeout=259200

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
